/.DS_Store
/addons
/config
/docker-compose.yaml
/Terraform/terraform-user_credentials.csv
AWSCLIV2.pkg
Terraform/.terraform.lock.hcl
Terraform/cli-user_accessKeys.csv
Terraform/terraform.tfstate.backup
Terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/3.76.1/darwin_arm64/terraform-provider-aws_v3.76.1_x5
.vscode/settings.json
